PORT=

## jwt signatures
ACCESS_TOKEN_SIGNATURE=
REFRESH_TOKEN_SIGNATURE=

## jwt expiry
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=


ORGANIZATION_ID=
ZOHO_REFRESH_TOKEN=
ZOHO_REDIRECT_URI=
CLIENT_ID=
CLIENT_SECRET=
WAREHOUESE_ID=



## Development DB

PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DB_NAME=